<div id='login'>
	<div class="formHeader">
		<h1>Log in</h1>
		<p>Please enter your credentials</p>
	</div>
	
	<form action='/auth/login' method='POST' class="form">
		<div>
			<label class="inputTitle" for=''>Email</label>
			<input class="inputField" type='email' name='email'/>
		</div>

		<div>
			<label class="inputTitle" for=''>Password</label>
			<input class="inputField" type='password' name='password'/>

			{{#if message}}
				<p class="error">{{message}}</p>
			{{/if}}
		</div>

		<button type='sumbmit'>Log in</button>
	</form>

    <p class="or">OR</p>

	<a href='/auth/google' class='googleButton'>
		<span>
			<img src="https://www.biz-edge.com/images/easyblog_shared/June_2018/6-18-18/gsuite_overhaul_400.jpg" alt=""><span class="txtButton">Log in with Google</span>
		</span> 
	</a>

</div>