<div id='signin'>
	<div class="formHeader">
		<h1>Let's get started</h1>
		<p>Inform your credentials to create an account</p>
	</div>
	
	<form action='/auth/signin' method='POST' class="form">

		<div>
			<label class="inputTitle"  for=''>E-mail</label>
			<input class="inputField" type='email' name='email' />
		</div>

		<div>
			<label class="inputTitle" for=''>Password</label>
			<input class="inputField" type='password' name='password' />
			{{#if message}}
				<p class="error">{{message}}</p>
			{{/if}}
		</div>
		
		<button class="primaryButton" type='sumbmit'>Create account</button>
	</form>
{{!-- 
	<p class="or">OR</p>


	<a href='/auth/google' class='googleButton'>
		<span>
			<img src="https://www.biz-edge.com/images/easyblog_shared/June_2018/6-18-18/gsuite_overhaul_400.jpg" alt="">Sign in with Google
		</span>
	</a> --}}
</div>