
<div class="vidScard">
    <div class="videothumb"></div>
    <div class="vidSinfo">
        <h2>Title of the video</h2>
        <p class="duration">15:23</p>
        <p>Name of the Author</p>
    </div>
</div>
