
<div class="vidScard">
    <div class="videothumb"></div>
    <div class="vidSinfo">
        <h2>{{video.title}}</h2>
        <p class="duration">15:23</p>
        <p>by {{video.videoAuthor}}</p>
    </div>
</div>
