    <div class="banner flexRow">
        <div class="ctacontent">
            <p class="head">POWER UP YOUR PLAYLISTS</p>
            <p class="cta">Add your own notes to your favorite YouTube playlists</p>
            <button type="button" class="ctabutton">Sign up</button>
        </div>
        <div class="bannerimage">this is an image</div>

    </div>
    <section class="benefits">
        <p><h1>Why PWR?</h1></p>
        <p>1. Create playlists with your favorite YouTube videos</p>
        <p>2. Add your own notes across the video</p>
        <p>3. Share the knowledge with your friends!</p>
    </section>


