    <div class="banner">
        
        <div class="bannerContent">
            <div class="ctacontent">
                <div>
                    <p class="cta">Power up your YouTube videos experience</p>
                    <p class="ctaDescription">Create playlists, add your own notes and share them with your friends or community</p>
                </div>
                    
                <a href="/auth/signin" class="button homeCta">Sign up</a>    
            </div>

            <img src="/images/player.png"class="bannerimage"></div>
        </div>
      
    </div>


