<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/x-icon" href="/images/PWR-icon.png">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      
   </head>
   <nav>
         <img src="/images/pwr_logo_logo_nav.png" id="logo">
         <ul id="header">
            <li><a href="/auth/signin">Create Account</a></li>
            <li><a href="/auth/login">Log in</a></li>
         </ul>
      </div>   
   </nav>

   <body>

      {{{body}}}
      
      <script src="/js/script.js"></script>
   </body>

</html>