<div class="playlistsPageContent">
	<h1 class="formHeader">I'm the Playlist page</h1>

	<div class="playlistsPg">
		<p>You currently have no playlists</p><p>:(</p>
	
		<a href="/playlists/create-playlist">Create a New Playlist</a>

		<form action='/auth/logout' method='GET'>
			<button class="secondaryButton" type='sumbmit'>Log Out</button>
		</form>
	</div>
	
</div>