
<div class="columns">

    <div class="videoinfo">
        <div class="videoimg"></div>
        <p class="credits">Playlist: Name of the Playlist | Created by: Name of the Creator </p>
        <h1>Title of the video</h1>
        <p>Author: Name of the Author</p>
        <p class="videodescription">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

        <div class="othervideos">
            <h2>More from the same playlist</h2>
            <p>by Name of the Creator</p>
            {{> videoPlaylistCard}}

            {{> videoPlaylistCard}}

            {{> videoPlaylistCard}}

            {{> videoPlaylistCard}}

            {{> videoPlaylistCard}}

            {{> videoPlaylistCard}}
        </div>
    </div>



    <section class="notes">
        <h2> Notes</h2>
        <button type="button" class="addNote">Add note</button>
        <ul data-role="tabs" data-tabs-type="pills" data-expand="true">
            <li><a href="#">All notes</a></li>
            <li><a href="#">My notes</a></li>
            <li><a href="#">Creator's notes</a></li>
        </ul>
        {{> note}}
    </section>
</div>

