<div id="addVideo">
	<div class="formHeader">
		<h1>Add video</h1>
		<p>All fields are mandatory</p>
	</div>

	<form class="formContainer" a action="/playlists/add-video/{{playlistID}}" method="POST">
		<div class="formInfo">
			<div>
				<label class="inputTitle" for="">Title</label>
				<input class="inputField"type="text" name="title">
			</div>

			<div>
				<label class="inputTitle" for="">Video URL</label>
				<input class="inputField"type="text" name="videoUrlnotEmbed">
			</div>

			<div>
				<label class="inputTitle" for="">Name of the Author</label>
				<input class="inputField"type="text" name="videoAuthor">
			</div>

			<div>
				<label class="inputTitle" for="">Description</label>
				<textarea class="inputField two" type="text" name="description" rows="4" ></textarea>
			</div>

		</div>
		<div class="actionButtons">
			<button class="secondaryButton" type="sumbmit">Cancel</button>
			<button class="primaryButton" type="sumbmit">Save</button>
		</div>	
	</form>
</div>