/* FLEXBOX */

.flexRow {
  display: flex;
  flex-direction: row;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 51px;
	overflow: hidden;
	width: 100%;
	background-color: white;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

nav a {
	color: #9d71ff;
	text-decoration: none;
	font-size: 18px;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	vertical-align: middle;
	padding-right: 60px;
}

li {
	margin: 5px;
}

nav a:hover {
	color: #392363;
	text-decoration: none;
}

nav img {
	width: 116px;
	height: 42px;
	vertical-align: auto;
	padding-left: 60px;
}

a {
	color: #9d71ff;
	text-decoration: none;
}

a:hover {
	color: #392363;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

button {
  height: 40px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	margin: 0px;
}

.banner {
  background-color: #F4F4F4;
  height: 550px;
  width: 100%;
  margin: 0px;
  border: 0px;
  align-content: space-between;
  align-items: center;
}

.head {
  font-size: 16px;
}
.cta {
  display: block;
  font-size: 45px;
  font-weight: 400;
  text-align: left;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
}

.ctabutton {
  background: #9D71FF;
  color: white;
  margin-top: 25px;
}

.ctacontent {
  margin-left: 140px;
  margin-right: 100px;
  align-items: center;
  width: 45%;
}

.bannerimage {
  width: 320px;
  height: 350px;
  background-color: #DCDBDB;
  font-size: 10px;
  text-align: center;
}

h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.columns {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

/* video page */
.videoimg {
  background-color: #DCDBDB;
  width: 760px;
  height: 430px;
}

.credits {
  margin-top: 15spx;
  margin-bottom: 0px;
}

.videoinfo {
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  width: 790px;
}

.videoinfo h1 {
  margin-bottom: 0px;
}

.videoinfo p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.othervideos {
  width: 790px;
  height: 500px;
}

.notes {
  display: flex;
  flex-direction: column;
  background-color:#DCDBDB;
  width: 340px;
  height: 1000px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.addNote {
  width: 320px;
  color: #0095FF;
  background-color: #7BC1FE;
  font-weight: 300;
}

.videothumb {
  width: 300px;
  height: 170px;
  background-color:#DCDBDB;
}

.vidSinfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20px;
  width:fit-content;
}  

.vidSinfoOwner {
  width: 60%;
}

.vidSinfoUser {
  width: 80%;
}

.vidSbtn {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  width: 6%;
}

.vidSbtn a{
  border: 1px outset;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 1px;
}

.duration {
  margin-top: 0px;
}

.vidScard {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.notesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

#addNote {
  width: 23px;
  height: 23px;
}

.tabs {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: stretch;
}

.noteHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.timestamp {
  background-color: #9D71FF;
  color: white;
  width: fit-content;
  border-radius: 3px;
  padding: 4px;
}

.noteCredits {
  width: fit-content;
  font-size: 12px;
}

hr {
  border: 0.5px solid black;
  width: 320px;
  margin-top: 8px;
	color: 15px;
}

#profileView {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profileView h1 {
	font-size: 2rem;
	margin: 25px;
}

#profileView img {
	width: 100px;
	border: 1px outset;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

#profileView a {
	align-content: flex-end;
}

#profileView h2 {
	font-size: 1.6rem;
}

#profileView h3 {
	font-size: 1.3rem;
}

#profileEdit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profileEdit img {
	width: 100px;
	border: 1px outset;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}



/* Sign up/Log in */
  

.inputTitle {
  font-size: 0.8em;
  font-weight: 300;
  padding-left: 0px;
  text-align: left;
  align-self: flex-start;
  padding-bottom: 5px;
  padding-top: 10px;
  width: 270px;
  color: #5c5c5c;
}


.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	width: 35%;
}

.form input {
	margin-bottom: 10px;
	line-height: 25px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  height: 30px;
  border: 1px solid #D7D7D7;
  font-size: 16px;
  width: 270px;
  padding-left: 10px;
}
.form textarea {
	margin-bottom: 10px;
	line-height: 25px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.form button {
	padding: 10px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  background-color: #3c70e2;
  color: white;
	margin: 15px;
  width: 270px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form button:hover {
	color: gray;
}

.form p {
	align-self: flex-start;
	color: red;
	margin: 5px;
	font-size: 0.8rem;
}


#signin, #login, #createPlaylist, #editPlaylist, #addVideo, #editVideo{
  display: flex;
  flex-direction: column;
}

.form div {
  width: 270px;
  display: flex;
  flex-direction: column;
}

#signin, #login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  margin-top: 80px;
}

#signin p, #login p {
  font-size: 1.2em;
  font-weight: 200;
}

#signin h1, #login h1 {
  align-content: center;
  text-align: center;
}

.or {
  align-items: center;
  text-align: center;
  color: rgb(107, 107, 107);
  font-size: 0.8em !important;
}

#signin hr, #login hr {
	border-top: 1px solid rgb(107, 107, 107);
	margin: 0px;
	width: 90px;
}

#signin a, #login a {
	border: 1px outset;
	width: 270px;
	text-align: center;
	line-height: 20px;
  padding-top: 5px;
  padding-right: 5px;
	margin: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  height: 30px;
}

#signin a:hover, #login a:hover {
	color: gray;
}

#signin a:visited, #login a:visited {
	color: black;
}
#signin a:visited:hover, #login a:visited:hover {
	color: gray;
}

#signin a img, #login a img {
	width: 20px;
	vertical-align: middle;
}


#createPlaylist p{
  color: black;
  align-self: center;
  
}

#playlistView .playlistHeader{
  display: flex;
  justify-content: center;
  border: 1px outset;
}

#playlistView .playlistInfo{
  margin: 5px 20px;
  width: 70%;
}

#playlistView .playlistInfo h2{
  font-size: 2rem;
  padding-left: 40px;
  margin-bottom: 5px;
}

#playlistView .playlistInfo h4{
  text-align:right;
  padding-right: 60px;
  margin-bottom: 5px;
}

#playlistView .playlistBtn{
  display: flex;
  flex-direction: column;
  margin: 5px 20px;

}

#playlistView .playlistBtn a {
	border: 1px outset;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  margin: 1px;
}

#playlistView .playlistContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#playlistView .playlistContent article{
  margin: 20px 40px;
  width:75%;
  text-align: justify;
}

#videoCard {
  width: 75%;
  border: 1px outset;
  margin: 5px;
  padding: 2px;
}

/* #videoCard a:active {
  color: gray
} */
#videoCard a {
  color: black
}
#videoCard a:hover {
  color: gray
}

.vidSinfoOwner h3{
  margin-bottom: 5px;
}

.vidSinfoOwner h4{
  padding-right: 60px;
  margin: 5px 0px 5px;
}


.vidSinfoOwner p{
  height: 95px;
  margin: 3px 0 10px;
  text-align: justify;
  overflow: hidden;
}
.formHeader {
  justify-content: center;
}

.googleButton {
  align-items: center;
}

.textButton {
  height: 20px;
}

.error {
  color: #d1515c !important;
  font-size: 0.8em !important;
}

.vidSinfoP{
  line-height: 1.5em;
  height: 3em;      
  overflow: hidden; 
}

.vidSinfoH2{
  margin-bottom: 10px;
  line-height: 30px;
}

.playlistsSinfoP{
  line-height: 1.5em;
  height: 3em;      
  overflow: hidden; 
  width: 80%;

}

#playlistsCard a {
  color: black
}
#playlistsCard a:hover {
  color: gray
}

.formNote{
  display: flex;
  flex-direction: column;
}

