<h2>Add a new Video </h2>
<form action="/playlists/create-playlist" method="POST">
	<label for="">Title: </label>
	<input type="text" name="title">

	<label for="">Description: </label>
	<input type="text" name="description">

	{{!-- //IMAGE --}}
	
	<button type="sumbmit">Create the Playlist</button>
	<p>Create the Playlist to start add videos to it</p>
</form>