<div id="createPlaylist">
	<div class="formHeader">
		<h1>New Playlist </h1>
		<p>Inform the playlist details before adding the videos</p>
	</div>
	
	<form class="formContainer" action="/playlists/create-playlist" method="POST">
		<div class="formInfo">
			<div>
				<label class="inputTitle" for="">Title</label>
				<input class="inputField" type="text" name="title">
			</div>	

			<div>
				<label class="inputTitle one" for="">Description</label>
				<textarea class="inputField two" type="text" name="description" rows="4" ></textarea>
			</div>
		</div>
		
		

		{{!-- //IMAGE --}}
		<div class="actionButtons">
			<button class="secondaryButton" type="sumbmit">Cancel</button>
			<button class="primaryButton" type="sumbmit">Create Playlist</button>
		</div>
		
	</form>
</div>