<div>
    <div>
        <h2>{{playlist.title}}</h2>
        <h4>{{playlistUserName}}</h4>
    </div>
    

    <div>
        {{{buttons}}}
    </div>
</div>
<article>
    {{playlist.description}}
</article>
